// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';



/* ALIGNEACIONES */
.pull-right{
    float: right;
}

.pull-left{
    float: left;
}

/* FORMATOS */
.capitalize {
    text-transform: capitalize;
}

.background{
    background-color: grey;
}

.footer{
    text-align: center;
    font-size: 80%;
}